<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" data-bs-theme="dark">
<head>
    <meta charset="UTF-8">
    <title>Phone logs</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
</head>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"></script>

<style>
    h1 {
        text-align: center;
        font-size: 60px;
    }

    th {
        text-align: center;
        font-size: 20px;
    }

    td {
        text-align: center;
    }

    a {
    margin: 1px 2px;
    }

    button {
    margin: 1px 2px;
    }
</style>
<body>

<!--Navigation bar-->
<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <a class="navbar-brand" th:href="@{/phonelog}">
            <img src="/alphalogo.svg" alt="Logo"  class="d-inline-block align-text-top">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-link active" aria-current="page" th:href="@{/phonelog}">ホーム</a>
                <a class="nav-link" th:href="@{/phonelog/newlog}">新規登録</a>
            </div>

        </div>
    </div>
</nav>
        <br>
            <h1></h1>
        <br>

<!--        search bar -->
        <nav class="navbar bg-body-tertiary">
            <div class="container-fluid">
                <form class="d-flex" role="search">
                    <label>
                        <input class="form-control me-2" type="search" placeholder="例：社長" name="keyword" th:value="${keyword}"/>
                    </label>
                    <button class="btn btn-outline-success" type="submit">検索</button>
                    <a class="btn btn-outline-secondary" th:href="@{/phonelog}">リセット</a>

                </form>
                <a th:href="@{/phonelog/export(keyword=${keyword})}" class="btn btn-outline-info">
                    CSV ダウンロード
                </a>
            </div>
        </nav>
        <br


        <div>
            <div>
                <table class="table table-striped">
                    <tr>
                        <th>日時</th>
                        <th>会社名</th>
                        <th>電話番号</th>
                        <th>宛先</th>
                        <th>受けた人</th>
                        <th>詳細</th>
                        <th>操作</th>

                    </tr>
                    <th:block th:each="log : ${phonelogs}">
                        <tr>
                            <td th:text="${log.callDate + ' (' + log.callTime} + ')'"></td>
                            <td th:text="${log.companyName}"></td>
                            <td th:text="${log.phoneNumber}"></td>
                            <td th:text="${log.recipient}"></td>
                            <td th:text="${log.receiver}"></td>
                            <td>
                                <a th:href="@{/phonelog/{id}(id=${log.id})}" class="btn btn-outline-light">移動</a>
                            </td>
                            <td>
                                <a th:href="@{/phonelog/{id}/edit(id=${log.id})}" class="btn btn-outline-primary">更新</a>
                                <form th:action="@{/phonelog/{id}/delete(id=${log.id})}" method="post" style="display: inline">
                                    <button type="submit" class="btn btn-outline-danger" onclick="return confirm('削除しますか？');">
                                        削除
                                    </button>
                                </form>

                            </td>
                        </tr>
                    </th:block>
                </table>
            </div>
        </div>

</body>
</html>