<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" data-bs-theme="dark">
<head>
  <meta charset="UTF-8">
  <title>Phone log </title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">

</head>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"></script>

<style>
  h1 {
      text-align: center;
      font-size: 60px;
  }

  th {
      text-align: center;
      font-size: 20px;
  }

  td {
      text-align: center;
  }

</style>
<body>


<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" th:href="@{/phonelog}">
      <img src="/alphalogo.svg" alt="Logo"  class="d-inline-block align-text-top">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link" aria-current="page" th:href="@{/phonelog}">ホーム</a>
        <a class="nav-link" th:href="@{/phonelog/newlog}">新規登録</a>
        <a class="nav-link active" th:href="@{/phonelog/register}">ユーザー登録</a>
      </div>
      <form th:action="@{/logout}" method="post" class="ms-auto" onclick="return confirm('ログアウトしますか？');">
        <span th:text="${username}"></span>
        <button type="submit" class="btn btn-outline-danger">
          Logout
        </button>
      </form>
    </div>
  </div>
</nav>

<div class="container vh-100 d-flex justify-content-center align-items-center">

  <form th:action="@{/phonelog/register}"
        th:object="${user}"
        method="post"
        class="card p-4 shadow"
        style="width:100%; max-width:400px;">

    <div class="text-center mb-3">
      <img src="/alphalogo.svg"
           alt="Logo"
           class="img-fluid"
           style="max-height:120px;">
    </div>

    <h4 class="text-center mb-4">
      ユーザー登録
    </h4>

    <div th:if="${errorMessage}"
         class="alert alert-danger"
         role="alert">
      <span th:text="${errorMessage}"></span>
    </div>


    <div class="form-floating mb-3">
      <input type="text"
             class="form-control"
             id="name"
             th:field="*{name}"
             placeholder="ユーザー名"
             required>

      <label for="name">ユーザー名</label>
    </div>

    <div class="form-floating mb-3">
      <input type="password"
             class="form-control"
             id="password"
             th:field="*{password}"
             placeholder="パスワード"
             required>

      <label for="password">パスワード</label>
    </div>

    <div class="form-floating mb-3">
      <input type="password"
             class="form-control"
             id="confirmPassword"
             name="confirmPassword"
             placeholder="パスワード確認"
             required>

      <label for="confirmPassword">パスワード確認</label>
    </div>

    <button class="btn btn-success w-100" type="submit">
      登録
    </button>

  </form>

</div>

</body>
</html>